<footer>
        <div>
            <span>Home</span>
            <span>On the menu</span>
            <span>Pricing</span>
            <span>FAQ</span>
        </div>
        <div>
            <span>Press</span>
            <span>Terms of Use</span>
            <span>Conditions</span>
            <span>Invenstors</span>
        </div>
        <div>
            <span>echoi26@myseneca.ca</span>
            <span>Copyright &copy; Fall 2020, Eunji Choi, WEB322NAA </span>
            <span><i class="fab fa-facebook-square"></i>  www.facebook.co.kr</span>
            <span><i class="fab fa-twitter-square"></i>  www.twitter.com</span>
        </div>
</footer>