<nav class="navi">
        <div class="menus">
            <a href="/menu" class="menu">ON THE MENU</a>
            <a href="" class="menu">PRICING</a>
            <a href="" class="menu">BLOG</a>
            <a href="" class="menu">FAQ</a>
        </div>
        <div class="pop_ups">
            {{#if user}}
                <span class="nav_greeting">Hello {{user.firstName}} {{user.lastName}}!</span>
                {{#if user.isUser}}
                <a href="/userDash">Board</a>
                {{/if}}
                    {{#if user.isAdmin}}
                    <a href="/clerkDash">Board</a>
                    {{/if}}
              
                <a href="/login/logout">Logout</a>
            {{else}}
                <a class="login_btn" href="/login">Log In</a>
                <a class="signup_btn" href="/signup">Sign Up</a>
            {{/if}}    
        </div>
        
</nav>
<div class="img_section">
        <img src="/img/20190218151513341_0.jpg" alt="main_img">
</div>