<nav class="navi">
        <div class="menus">
            <a href="/menu" class="menu">ON THE MENU</a>
            <a href="" class="menu">PRICING</a>
            <a href="" class="menu">BLOG</a>
            <a href="" class="menu">FAQ</a>
        </div>
        <div class="pop_ups">
            <a class="login_btn" href="/login">Log In</a>
            <a class="signup_btn" href="/signup">Sign Up</a>
        </div>
</nav>
<div class="img_section">
        <img src="/img/20190218151513341_0.jpg" alt="main_img">
</div>