
<body>
    
    <div class="contents">
        <span class="slogan">How we work for our customers <i class="fas fa-leaf"></i></span>
        <button class="content_btn">Learn More</button>
        <div class="content">
            <div class="box">
                <img src="488_tmp_7e5610e5be2332bdfb0dd5ac47794f6e8401view.jpg" alt="create">
                <span class="box_title">Create a good meal kit</span>
                <span class="box_content">Our top priority is to create a good meal kit</span>
            </div>
            <div class="box">
                <img src="10000618153.jpg" alt="food">
                <span class="box_title">Use fresh ingredients</span>
                <span class="box_content">We are delievered our ingredients from the local food market for quality and reasonable price of our products</span>
            </div>
            <div class="box">
                <img src="20200628030930363.jpg" alt="freshness">
                <span class="box_title">Produce meal kits everyday</span>
                <span class="box_content">We produce meal kits everyday to provide the best quality</span>
            </div>
            <div class="box">
                <img src="unnamed.png" alt="deliever">
                <span class="box_title">Special delievery system</span>
                <span class="box_content">If you order your meal kits before 2pm, you can get your package next morning</span>
            </div>
        </div>
    </div>
    <div class="top_meals">
        <span class="top_meals_title">Top meals <i class="fas fa-leaf"></i></span>
        <div class="meals_home">
            {{#each data}}
            {{#if topmeal}}
            <div class="meal">
                <img src="{{img}}" alt="meal_img">
                <div class="meals_content">
                    <span class="meal_title">{{title}}  <span class="meal_ingre">{{included}}</span></span>
                    <span class="meal_price">{{price}}</span>
                </div>
            </div>
             {{/if}}
            {{/each}}
           
        </div>
    </div> 
</body>
