<body>
        <div class="dashboard">
            <span class="dash_title1">Welcome to FRESH MEAL!</span><br>
            <span class="dash_title2">We're glad to meet you</span><br>
            <span class="dash_info">Name: {{values.firstName}} {{values.lastName}}</span><br>
            <span class="dash_info">Email: {{values.email}}</span><br>
            <a href="/">Go to main page</a><br>
        </div>    
    
</body>