<body>
    <div class="dash">
         <div class="menu">
             <div class="menus">
                <span class="dashMenu">MENU</span><br>
             </div>
        </div>
        <div class="dashboard">
            <span class="dash_title1">Welcome to User dashboard!</span><br>
            <span class="dash_title2">We're glad to meet you again</span><br>
            <span class="dash_info">Name: {{user.firstName}} {{user.lastName}}</span><br>
            <img src="/img/profile.png" alt="profile">
            <a href="login/logout">Log out</a><br>
        </div> 
    </div>    
</body>